.contact{
    background: $color-white;
    margin-top: -450px;
    margin-bottom: 20px;
    box-shadow: -1px 10px 18px 0px #bebebe;
    form{
        background: $color-white;
        margin-bottom: 80px;
        padding: 0 70px; 
        @include clearfix();
    }
    &-info{
        background: $color-primary;
        color: $color-white;
        @include clearfix();
        padding: 75px 10px 10px 10px;
        height: 100%;
        position: relative;
        text-align: center;
        span{
            color: inherit;
            display: block;
        }
        .fa{
            color: inherit;
            opacity: .5;
        }
        h3{
            color: $color-white;
            margin-bottom: 25px; 
        }
        .location, .phone, .mail{
            margin-top: 25px;
        }
        .social-media{
            position: absolute;
            bottom: 100px;
            width:100%;
            &__icons{
                .fa{
                    color: $color-white;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: $max-tablet){
    .contact{
        margin-top: -250px;
    }
    .contact-info{
        .social-media{
            position: relative;
            margin-top: 20px; 
            bottom: 0;
        }
    } 
}

@media screen and (max-width: $max-phone){
    .contact{
        margin-top: -150px;
        form{
            padding: 0 10px;
        }
    }
}