<div>

    <header>
        <div class="container">
            <div class="top">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""></a>
                </div>
                <nav>
                    Navigation
                </nav>
                <div class="controls">
                    <a href="/search/" class="control">
                        <img class="control_img" src="img/search.png" alt="">
                        <span class="control_label">
                        Search
                    </span>
                    </a>
                    <a href="/login/" class="control">
                        <img class="control_img" src="img/login.png" alt="">
                        <span class="control_label">
                        Login/SignUp
                    </span>
                    </a>
                    <a href="/lang/" class="control">
                        <img class="control_img" src="img/lang.png" alt="">
                        <span class="control_label">
                        Eng
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </header>


</div>