.banner{
    position: relative;
    width: 100%;
    color: $color-white;
    &__background{
        @include fullBackground();
    }
    &__content{
        position: absolute;
        top: 50%;
        z-index: 100;
        margin-top: -50px;
        width: 50%;
        text-align: justify;
        &--top{
            top: 20%;
        }
    }
    h1, p{ 
        color: inherit;
    }
}
.hero-banner{ 
    height: 700px;
    .banner-text{
        position: absolute;
        bottom: 125px;
        width: 500px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        a{
            span{
                color: $color-white;
            }
        }
        h1{
            font-size: 2.7rem;
            font-weight: bold;
        }
    }
    .banner-text.banner-text-owner {
        width: 540px;
    }
} 

.small-banner{
    height: 500px;
}

@media screen and (max-width: $max-tablet){
    .hero-banner{
        height: 500px;
    }
    .banner{
        &__background{
            img{
                height: 100%;
            }
        }
        &__content{
            width:100%;
        }
    }
}

@media screen and (max-width: $max-phone) {
    .hero-banner{
        height: 372px;
        .banner__background{
            img{
                height: 100%;
            }
        }
    }
}
.home-background{
    background-image: url(/img/home.jpg);
    background-size: cover;
    background-position: center;
}
a.home-quote-button{
    font-size: 23px !important;
    font-family: 'Baloo Bhaina', Times, serif !important;
}
@media only screen and (max-width: 425px) {
    .banner-text{
        h1{
            font-size: 1.5rem !important;
            width: 400px;
        }
    }

}