.modal-profile-wrapper{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  .modal-files{
    min-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    div{
      .avatar-preview-wrapper{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid $color-gray-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        .avatar-preview{
            /* make a square container */
            width: 80px;
            height: 80px;

            /* fill the container, preserving aspect ratio, and cropping to fit */
            background-size: cover;

            /* center the image vertically and horizontally */
            background-position: top center;

            /* round the edges to a circle with border radius 1/2 container size */
            border-radius: 50%;


        }
      }
    }
  }
  .modal-input{
    h5{
      font-size: 1rem;
    }
    label{
      font-family: 'Open-Sans', sans-serif;
      font-style: normal;
      font-weight: 100;
    }
    a.edit-password{
      font-size: 1rem;
      color: $color-gray-dark;
      transition: opacity ease .3s;
      &:hover{
        opacity: .7;
        transition: opacity ease .3s;
      }
    }
  }
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
  border-radius: .5em;
  float: left;
  padding: .5em;
  font-family: 'Open Sans', sans-serif;
  span{
    font-family: 'Baloo Bhaina', Times, serif;
    display: block;
    color: $color-secondary;
    i{
      font-size: 12px;
    }
  }
}