header{
    padding: 20px 0;
    @include clearfix();
}
//Top part
.top{
    @include clearfix();
}

.logo{
    float: left;
    width: 183px;
    height: 40px;
    img{
        width: 100%;
    }
}
nav{
    float: right;
}
.controls{

    float: right;
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    .control{
        display: flex;
        flex-wrap: nowrap;
        @include clearfix();
        @include colorLink($color-gray-dark, $color-gray-dark);
        float:left; 
        height: 32px;
        margin-right: 20px;
        .control_img{
            float: left;
        }
        .control_label{
            float: left;
            line-height: 28px;
            padding-left: 10px;
            margin-top: 3px;
            color: $green-primary;
        }
    }
}
.sign-partial{
    display: none;
    //position: absolute;
    //left: 0;
    //right: 0;
    top:119px;
    z-index: 300;
    background: white;
    padding: 20px;
    text-align:left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include boxShadow();
    h2, h4{
        text-align: left; 
    }
    h2{
        font-weight: normal;
    }
    .form-control{
        border-radius: 0;
    }
    &.active{
        display: block;
    }
}

//Bottom part
.bottom{
    @include clearfix();
}
.signIn-area{
    height: 190px; 
    padding-top: 25px;
    h1{
        font-weight: 200;
    }
}

@media screen and (max-width: $max-tablet){
    .signIn-area{
        height: auto;
        margin-bottom: 20px; 
    }
    .sign-partial{
        top: 109px;
    }
}


.navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        .nav-button{
            a{
                margin-left: 100px;
                img{
                    height: 20px;
                    width: auto;
                }
                span{
                    color: $color-white;
                }
            }
        }
    }
    .nav-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-links{
            margin-right: 100px;
            a{
                margin: 0 10px;
                span{
                    &.control_label{
                        color: $green-primary;
                    }
                }
                &:hover{
                    img{
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                        transition: all ease .3s;
                    }
                    span{
                        color: $green-primary-lighten;
                    }
                }
            }
        }
        .notifications-wrapper{
            margin-right: 30px;
        }
        .dropdown-profile-wrapper{
            min-width: 300px;
            .dropdown-profile{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                div{
                    margin: 0 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .navbar-wrapper{
        .nav-right{
            .nav-links{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .navbar-wrapper{
        .nav-left{
            margin-left: 5px;
            .nav-button {
                a {
                    margin-left: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    .navbar-wrapper{
        .nav-left{
            .nav-button {
                a {
                    margin-right: 5px;
                }
            }
            .logo{
                display: none;
            }
        }
        .nav-right{
            .notifications-wrapper{
                margin-right: 10px;
            }
        }
    }
}