html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 60px 15px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
