<div xmlns="http://www.w3.org/1999/html">

    <div class="container sign-in-container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <div class="sign sign-partial active">
                    <div class="sign-wrapper">
                        <h1 class="subtitle--secondary">Want to be your own Boss? <br> Start today.</h1>
                        <h5 style="color: #f18519;">Become a PetTravelHub driver.</h5>

                        <form :action="driverEndpoint" method="post" enctype="multipart/form-data" id="driverForm" v-on:submit.prevent="validateForm()">
                            <input type="hidden" name="_token" :value="csrfToken">
                            <div class="form-group owner-form">

                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">

                                        <div class="row">
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <div class="validation">
                                                    <!-- <label for="name">Name:</label> -->
                                                    <input type="text" class="form-control" aria-describedby="name"
                                                            v-model="driverForm.name"
                                                            name="name"
                                                            v-validate="'required'"
                                                            :class="errors.has('name') ? 'error' : ''"
                                                            placeholder="Name"
                                                    >
                                                    <div class="validation-error" v-if="errors.has('name')">
                                                        <span>{{ errors.first('name') }} <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <div class="validation">
                                                    <!-- <label for="email">Email:</label> -->
                                                    <input type="email" class="form-control" aria-describedby="emailHelp"
                                                            v-model="driverForm.email"
                                                            name="email"
                                                            v-validate="'required|email'"
                                                            :class="errors.has('email') ? 'error' : ''"
                                                            placeholder="Email"
                                                    >
                                                    <div class="validation-error" v-if="errors.has('email')">
                                                        <span>{{ errors.first('email') }} <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <div class="validation">
                                                    <!-- <label for="phone">Phone:</label> -->
                                                    <input type="text" class="form-control" aria-describedby="phone"
                                                            v-model="driverForm.phone"
                                                            name="phone"
                                                            v-validate="'required'"
                                                            :class="errors.has('phone') ? 'error' : ''"
                                                            placeholder="Phone"
                                                    >
                                                    <div class="validation-error" v-if="errors.has('phone')">
                                                        <span>{{ errors.first('phone') }} <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <!-- <label for="password">Password:</label> -->
                                                <div class="validation">
                                                    <input type="password" class="form-control" aria-describedby="password"
                                                            v-model="driverForm.password"
                                                            name="password"
                                                            v-validate="'required'"
                                                            :class="errors.has('password') ? 'error' : ''"
                                                            placeholder="Password"
                                                    >
                                                    <div class="validation-error" v-if="errors.has('password')">
                                                        <span>{{ errors.first('password') }} <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <!-- <label for="password_confirmation">Retype Password:</label> -->
                                                <div class="validation">
                                                    <input type="password" class="form-control" aria-describedby="password"
                                                            v-model="driverForm.password_confirmation"
                                                            name="password_confirmation"
                                                            data-vv-as="password confirmation"
                                                            v-validate="'required'"
                                                            placeholder="Retype Password"
                                                            :class="errors.has('password_confirmation') ? 'error' : ''"
                                                    >
                                                    <div class="validation-error" v-if="errors.has('password_confirmation')">
                                                        <span>Required <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <p><input type="checkbox" name="terms"
                                                    data-vv-as="terms"
                                                    v-validate="'required'"
                                                    :class="errors.has('formOwnerReg.terms') ? 'error' : ''"
                                                    > I accept the <u>Terms and Conditions</u>
                                                </p>
                                                <button  type="submit" class="btn btn--primary btn--primary--fill btn--full btn--detached">REGISTER</button>
                                                <label>Already a member <a @click="signIn()" href="javascript:void(0)" class="sign-up signControl">Log In Now</a> </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12" style="margin-bottom: 10px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- <label for="vehicle">Vehicle Type:</label> -->
                                                <div class="form-group validation">
                                                    <select class="form-control" id=""
                                                            v-model="driverForm.vehicle"
                                                            name="vehicle"
                                                            v-validate="'required'"
                                                            :class="errors.has('vehicle') ? 'error' : ''"
                                                    >
                                                        <option value="" selected>Vehicle Type</option>
                                                        <option value="car">Car</option>
                                                        <option value="suv">SUV</option>
                                                        <option value="truck">Truck</option>
                                                        <option value="minivan">Minivan</option>
                                                    </select>
                                                    <div class="validation-error" v-if="errors.has('vehicle')">
                                                        <span>{{ errors.first('vehicle') }} <i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                    <div v-show="!avatarPreview.image" class="form-group upload-container">
                                                            <div class="upload-btn-wrapper" style="display:inline-flex;">
                                                                <a href="javascript:void(0);" class="btn"><img src="/img/upload.png"></a>
                                                                <input type="file"
                                                                       id="avatar"
                                                                       aria-describedby="avatar"
                                                                       name="avatar"
                                                                       ref="avatarDriver"
                                                                       @change="handleAvatarDriver"
                                                                >
                                                                <div class="upload-title" style="padding-left: 10px;">
                                                                        <span style="font-size: 18px;" class="upload-heading">Upload Great Picture of Yourself</span>
                                                                        <span class="sign-up">Choose File <i class="fa fa-chevron-right"></i></span>
                                                                    </div>
                                                            </div>
                                                            
                                    
                                                        </div>
                                                        
                                                        <div v-if="avatarPreview.image" class="preview-file-wrapper">
                                                            <div class="image-wrapper" :style="'background-image: url(' + avatarPreview.image + ')'"></div>
                                                            <div class="content-wrapper">
                                                                Avatar
                                                            </div>
                                                            <div class="delete-wrapper">
                                                                <a @click="removeAvatar" href="javascript:void(0);"><span>Remove <i class="fa fa-times"></i></span></a>
                                                            </div>
                                                        </div>
                                                        <span class="has-error" v-if="errors.has('avatar')">{{ errors.first('avatar') }}</span>
                                                        <!--AVATAR UPLOAD END-->
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                    <!--VEHICLE UPLOAD-->
                                <div v-show="vehiclePhotos.length === 0" class="form-group upload-container">
                                        <div class="upload-btn-wrapper" style="display:inline-flex;">
                                            <a href="javascript:void(0);" class="btn"><img src="/img/upload.png"></a>
                                            <input type="file"
                                                   id="driver-vehicle"
                                                   name="vehicle_photos[]"
                                                   v-validate="'required'"
                                                   multiple
                                                   
                                                   ref="vehicle"
                                                   @change="handleVehiclePhotos"
                                            >
                                            <div class="upload-title" style="padding-left: 10px;">
                                                    <span class="upload-heading">Vehicle Photo</span>
                                                    <span class="sign-up">Choose File <i class="fa fa-chevron-right"></i></span>
                                                </div>
                                        </div>
                                        
                                    </div>
                                    <div v-if="vehiclePhotos && vehiclePhotos.length > 0" v-for="(photo, index) in vehiclePhotos" :key="index" class="preview-file-wrapper">
                                        <div class="image-wrapper" :style="'background-image: url(' + photo.image + ')'"></div>
                                        <div class="content-wrapper">
                                            Vehicle
                                        </div>
                                        <div class="delete-wrapper">
                                            <a @click="removeVehicle(photo, index)" href="javascript:void(0);"><span>Remove <i class="fa fa-times"></i></span></a>
                                        </div>
                                    </div>
                                    <span class="has-error" v-if="errors.has('vehicle_photos[]')">You have to upload at least one vehicle photo.</span>
                                    <!--VEHICLE UPLOAD END-->
                                            </div>
                                            <div class="col-md-12">
                                            <!--DRIVERS LICENCE UPLOAD-->
                                            <div v-show="!licencePreview.image" class="form-group upload-container">
                                                <div class="upload-btn-wrapper" style="display: inline-flex;">
                                                    <a href="javascript:void(0);" class="btn"><img src="/img/upload.png"></a>
                                                    <input type="file"
                                                           aria-describedby="avatar"
                                                           id="drivers_licence"
                                                           name="drivers_licence"
                                                           v-validate="'required'"
                                                           ref="drivers_licence"
                                                           @change="handleDriverLicence"
                                                    >
                                                    <div class="upload-title" style="padding-left: 10px;">
                                                        <span class="upload-heading">1) Upload Picture of Driver’s License</span>
                                                        <span class="sign-up">Choose File <i class="fa fa-chevron-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div v-if="licencePreview.image" class="preview-file-wrapper">
                                                <div class="image-wrapper" :style="'background-image: url(' + licencePreview.image + ')'"></div>
                                                    <div class="content-wrapper">
                                                        ID Photo
                                                    </div>
                                                    <div class="delete-wrapper">
                                                        <a @click="removeLicence" href="javascript:void(0);"><span>Remove <i class="fa fa-times"></i></span></a>
                                                    </div>
                                                </div>
                                                <span class="has-error" v-if="errors.has('avatar')">{{ errors.first('avatar') }}</span>
                                    <!--DRIVERS LICENCE UPLOAD END-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--PET DRIVER SIGNUP END-->
                </div>
            </div>
            <div class="col-md-2">
                <img class="column-cover-img-corgi" src="/img/korgi.png" style="height:80%;">
            </div>
        </div>
    </div>
</div>