<div>

        <div class="main-content">
            <div class="container">
                <div class="row profile">
                    <!--BREADCRUMB-->
                    <div class="col-12">
                        <div class="breadcrumb">
                            <a href="javascript:history.go(-1)"><i class="fa fa-chevron-left"></i>Back</a>
                        </div>
                    </div>
    
    
                    <div class="col-12 col-lg-6">
                        <!--PROFILE BOX-->
    
                        <div class="profile-box">
                            <div class="row">
    
                                <div class="col-5">
                                    <div class="avatar" :style="'background-image:url(' + user.avatar + ')'">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="details profile-details">
                                        <div class="name">{{ user.name }}</div>
                                        <div class="role">Pet {{ user.roles[0].name }}</div>
                                        
                                        <div class="details__line">
                                            <i class="fa fa-envelope"></i>
                                            <span>{{ user.email }}</span>
                                        </div>
                                        <!-- <div class="details__line">
                                            <i class="fa fa-car"></i>
                                            <span>Minivan</span>
                                        </div> -->
                                    </div>
                                    <div class="actions">
                                        <a href="/owner/transport" class="btn btn--detached btn--primary btn--primary--fill">Add Offer</a>
                                        <a @click="openProfileModal" href="javascript:void(0)" class="btn btn--detached btn--secondary btn--secondary--fill">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 clearfix my-pets-wrapper">
                        <!--REVIEW BOX OWNER-->
                        <h3 class="pet-overview-title">My Pets</h3>
    
    
                        <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="false" data-interval="false">-->
                            <!--<ol class="carousel-indicators">-->
                                <!--<li data-target="#carouselExampleIndicators"-->
                                    <!--v-for="(pet, index) in pets" :key="pet.id"-->
                                    <!--:data-slide-to="index"-->
                                    <!--:class="index === 1 ? 'active' : ''"-->
                                <!--&gt;</li>-->
                            <!--</ol>-->
                            <!--<div class="carousel-inner">-->
                                <!--<div class="carousel-item" v-for="(pet, index) in pets" :key="pet.id"-->
                                    <!--:class="index === 1 ? 'active' : ''"-->
                                <!--&gt;-->
                                    <!--<div class="pet-overview">-->
                                        <!--<div class="avatar">-->
                                            <!--<div class="avatar-image">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="pet-overview&#45;&#45;name">-->
                                            <!--{{ pet.name }}-->
                                        <!--</div>-->
                                        <!--<div class="divider"></div>-->
                                        <!--<div class="pet-overview&#45;&#45;details">-->
                                            <!--<span class="key">Type</span>-->
                                            <!--<span class="value">{{ pet.type }}</span>-->
                                            <!--<span class="key">Weight</span>-->
                                            <!--<span class="value">{{ pet.weight }} kg</span>-->
                                            <!--<span class="key">Size</span>-->
                                            <!--<span class="value">{{ pet.size }}</span>-->
                                        <!--</div>-->
                                        <!--<div class="pet-overview&#45;&#45;special">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="carousel-item">-->
                                    <!--<a href="javascript:void(0)" @click="openPetModal" class="add-new-box">-->
                                        <!--<i class="fa fa-plus-circle"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
                                <!--&lt;!&ndash;<span class="carousel-control-prev-icon" aria-hidden="true"></span>&ndash;&gt;-->
                                <!--<i style="color: #808080;" class="fa fa-chevron-left"></i>-->
                                <!--<span class="sr-only">Previous</span>-->
                            <!--</a>-->
                            <!--<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
                                <!--&lt;!&ndash;<span class="carousel-control-next-icon" aria-hidden="true"></span>&ndash;&gt;-->
                                <!--<i style="color: #808080;" class="fa fa-chevron-right"></i>-->
                                <!--<span class="sr-only">Next</span>-->
                            <!--</a>-->
                        <!--</div>-->
    
    
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="false" data-interval="false">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators"
                                    v-for="(pet, index) in pets" :key="pet.id"
                                    :data-slide-to="index"
                                    :class="index === 0 ? 'active' : ''"
                                ></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item" v-for="(pet, index) in pets" :key="pet.id"
                                     :class="index === 0 ? 'active' : ''"
                                >
                                    <div class="pet-overview">
                                        <div class="avatar" style="width:100px; height:100px;">
                                            <div class="avatar-image" style="width:95px; height:95px;">
                                            </div>
                                        </div>
                                        <div class="pet-overview--name">
                                            {{ pet.name }}
                                        </div>
                                        <div class="divider"></div>
                                        <div class="pet-overview--details">
                                            <span class="key">Breed</span>
                                            <span class="value">{{ pet.type }}</span>
                                            <span class="key">Weight</span>
                                            <span class="value">{{ pet.weight }} lbs</span>
                                            <span class="key">Size</span>
                                            <span class="value">{{ pet.size }}</span>
                                        </div>
                                        <div class="pet-overview--special">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <a href="javascript:void(0)" @click="openPetModal" class="add-new-box">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                <i class="fa fa-chevron-left" style="color:gray"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next"  href="#carouselExampleIndicators" role="button" data-slide="next">
                                <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                <i class="fa fa-chevron-right" style="color:gray"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12 col-lg-12">
                        <h3  class="section-title">My Transports</h3>
                        <div v-if="user.transports &&  user.transports.length > 0">
                        <!--TRANSPORT OVERVIEW-->
                        <div v-for="transport in transports" :key="transport.id" class="transport">
                            <div class="location">
                                <div class="avatar-uni" style="background-image:url('img/profile.jpg')"></div>
                                <div class="address">
                                    <span>{{ transport.departure_address }}</span>
                                </div>
                                <div>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="address">
                                    <span>{{ transport.destination_address }}</span>
                                </div>
                                <img src="/img/search-pet.png" alt="">
                            </div>
                            <div class="date-from-to">
                                <div class="from">
                                    <span class="date-title">{{ transport.departure_type }}</span>
                                    <span class="date-day">{{ transport.departure_date_format.day }}</span>
                                    <span class="date-rest">{{ transport.departure_date_format.month }}, {{ transport.departure_date_format.year }}</span>
                                </div>
                                <div class="to">
                                    <span class="date-title">{{ transport.arrival_type }}</span>
                                    <span class="date-day">{{ transport.arrival_date_format.day }}</span>
                                    <span class="date-rest">{{ transport.arrival_date_format.month }}, {{ transport.arrival_date_format.year }}</span>
                                </div>
                            </div>
                            <div class="pet-details">
                                <div class="plural" v-if="transport.pets.length > 1">
                                    <div><span>{{ transport.pets.length }}</span></div>
                                    <div>Pets</div>
                                </div>
                                <div v-else>
                                    <div class="atr-names">
                                        <span>Breed</span>
                                        <span>Weight</span>
                                        <span>Size</span>
                                    </div>
                                    <div class="atr-values">
                                        <span>{{ transport.pets[0].type}}</span>
                                        <span>{{ transport.pets[0].weight}} lbs</span>
                                        <span>{{ transport.pets[0].size}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="details__status">
                                    <label for="">Status</label>
                                    <span class="warning">{{ transport.status.toUpperCase() }}</span>
                                </div>
                                <div class="details__bid">
                                    <div v-if="transport.bids.length > 0">
                                        <label for="">Latest Bid</label>
                                        <span class="amount"><sup>$</sup>{{ transport.bids[0].amount }}</span>
                                    </div>
                                    <div v-else>
                                        <label for="">No Bids Yet</label>
                                    </div>
                                </div>
                                <div class="details__link">
                                    <!--<a href="#" class="btn btn&#45;&#45;secondary btn&#45;&#45;secondary&#45;&#45;fill">BID NOW</a>-->
                                    <a :href="transportDetails(transport.id)" class="btn btn--primary btn--primary--fill full-width">Details</a>
                                    <a :href="transportDetails(transport.id)" class="btn-right"> <i class="fa fa-chevron-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                            <p>You have no transports yet</p>
                        </div>

                        <!--END-->
    
    
                        <!--<a href="#" class="btn btn&#45;&#45;plain btn&#45;&#45;plain&#45;&#45;transparent btn&#45;&#45;full btn-load-more">-->
                            <!--<span class="big-green-text">235</span>-->
                            <!--<span>More Transports to See</span>-->
                            <!--<i class="fa fa-chevron-down"></i>-->
                        <!--</a>-->
    
    
    
                    </div>
    
    
                    <div class="col-12 col-lg-12 clearfix">
                        <h3 class="section-title">My Transactions</h3>
    
                        <div v-if="user.payments &&  user.payments.length > 0">
    
    
                            <div class="transaction-overview">
                                <div v-for="payment in user.payments" :key="payment.id" class="details">
                                    <div class="details__bid">
                                        <span>Payment</span>
                                        <span class="amount"><sup>$</sup>{{ payment.amount }}</span>
                                        <span class="danger">{{ payment.type.toUpperCase() }}</span>
                                    </div>
                                    <div class="person">
                                        <label for="">To:</label>
                                        <div class="avatar" :style="'background-image:url(' + payment.bid.user.avatar + ')'">
                                        </div>
                                        <label for="">{{ payment.bid.user.name }}</label>
                                    </div>
                                   
                                </div>
                            </div>
                            <!--<a href="#" class="btn btn&#45;&#45;plain btn&#45;&#45;plain&#45;&#45;transparent btn&#45;&#45;full btn-load-more transaction-load-more">-->
                            <!--<span class="big-green-text">7</span>-->
                            <!--<span>More Transactions</span>-->
                            <!--<i class="fa fa-chevron-down"></i>-->
                            <!--</a>-->
                        </div>
                        <div v-else>
                            <p>You have no transactions yet</p>
                        </div>
                        <!--<a href="#" class="btn btn&#45;&#45;plain btn&#45;&#45;plain&#45;&#45;transparent btn&#45;&#45;full btn-load-more transaction-load-more">-->
                            <!--<span class="big-green-text">7</span>-->
                            <!--<span>More Transactions</span>-->
                            <!--<i class="fa fa-chevron-down"></i>-->
                        <!--</a>-->
    
    
    
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Add Pet Modal -->
        <div class="modal fade" id="addPetModal" role="dialog" aria-hidden="true" aria-labelledby="addNewPetModalLabel">
    
            <div class="modal-dialog add-pet-modal" role="document">
                <div class="modal-content">
                    <form id="petForm" method="post" v-on:submit.prevent="validateForm('petForm')" data-vv-scope="petForm">
                        <div class="text-left">
                            <h4 class="orange">Add New Pet</h4>
                        </div>
                        <div class="row add-pet-inline">
                            <div class="col-md-4">
                                <div class="upload-btn-wrapper">
                                    <div class="pet-avatar"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="label-text" for="pet_name">Pet Name</label>
                                    <input type="text"
                                           class="form-control green-border custom-gray-fill"
                                           placeholder="Enter Name..."
                                           name="name"
                                           v-validate="'required'"
                                           v-model="pet.name"
                                           :class="errors.has('petForm.name') ? 'error' : ''"
                                    >
                                    <span class="has-error" v-if="errors.has('petForm.name')">
                                        {{ errors.first('petForm.name') }}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control green-border custom-gray-fill"
                                           placeholder="Enter Breed..."
                                           name="type"
                                           v-validate="'required'"
                                           v-model="pet.type"
                                           :class="errors.has('petForm.type') ? 'error' : ''"
                                    >
                                    <span class="has-error" v-if="errors.has('petForm.name')">
                                        {{ errors.first('petForm.name') }}
                                    </span>
                                    <!-- <select class="form-control"
                                            name="type"
                                            v-validate="'required'"
                                            v-model="pet.type"
                                            :class="errors.has('petForm.type') ? 'error' : ''"
                                    >
                                        <option value="">Pet Type</option>
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="fish">Fish</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <span class="has-error" v-if="errors.has('petForm.type')">
                                        {{ errors.first('petForm.type') }}
                                    </span> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="label-text" for="pet_weight">Weight</label>
                                    <input type="text"
                                           class="form-control green-border custom-gray-fill"
                                           id="pet_weight"
                                           placeholder="Enter Weigh (lbs)"
                                           name="weight"
                                           v-validate="'required|integer'"
                                           v-model="pet.weight"
                                           :class="errors.has('petForm.weight') ? 'error' : ''"
                                    >
                                    <span class="has-error" v-if="errors.has('petForm.weight')">
                                    {{ errors.first('petForm.weight') }}
                                </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="label-text" for="pet_size">Size</label>
                                    <input type="text"
                                           class="form-control green-border custom-gray-fill"
                                           id="pet_size"
                                           placeholder="Enter Size"
                                           name="size"
                                           v-validate="'required'"
                                           v-model="pet.size"
                                           :class="errors.has('petForm.size') ? 'error' : ''"
                                    >
                                    <span class="has-error" v-if="errors.has('petForm.size')">
                                        {{ errors.first('petForm.size') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="pet_additional">Necessary Information About Pet</label>-->
                            <!--<textarea class="form-control green-border custom-gray-fill" rows="5" id="pet_additional" placeholder="My dog doesn't have any special needs. Vaccinated 3 months ago..."></textarea>-->
                        <!--</div>-->
                        <button type="submit" class="btn custom-fill">Add New Pet</button>
                    </form>
                </div>
            </div>
        </div>
    
        <!--Update Profile Modal-->
        <!-- Modal -->
        <div class="modal fade" id="profileModal" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header edit-profile-modal-header">
                        <h5 class="modal-title" id="profileModalLabel">Update Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div v-if="user" class="modal-body modal-profile-wrapper">
                        <div class="modal-files">
                            <div>
                                <div class="avatar-preview-wrapper">
                                    <div class="avatar-preview"
                                         :style="'background-image: url('+ user.avatar +')'"
                                    ></div>
                                </div>
                                <label class="fileContainer">
                                    Upload driver photo
                                    <span>Choose file <i class="fa fa-chevron-right"></i></span>
                                    <input type="file"
                                           id="uploaded-avatar"
                                           name="avatar"
                                           @change="fileUploaded"
                                    >
                                </label>
                            </div>
    
                        </div>
                        <div class="modal-input">
                            <h5>ADDITIONAL INFORMATION</h5>
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" id="name" name="name" v-model="user.name">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" v-model="user.phone">
                            </div>
                            <div class="form-group">
                                <a @click="changePassword = !changePassword" href="javascript:void(0)" class="edit-password">{{ changePasswordText }}</a>
                            </div>
                            <div class="form-group">
                                <label for="old_password">Old Password</label>
                                <input :disabled="changePassword" type="password" class="form-control" id="old_password" name="old_password" v-model="user.old_password">
                            </div>
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <input :disabled="changePassword" type="password" class="form-control" id="new_password" name="new_password" v-model="user.new_password">
                            </div>
                        </div>
    
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn--detached btn--primary btn--primary--fill" data-dismiss="modal">Close</button>
                        <button @click="submitProfile" type="button" class="btn btn--detached btn--secondary btn--secondary--fill">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>