<div>
    <div v-if="view === 'landing'" class="main-content">
            <div class="row only-for-mobile" style="color:white;">
                    <div class="col-md-12" style="color:white;">
                        <a style="width:100%; color:white;" href="/owner/transport" class="btn btn--primary btn--primary--fill home-quote-button">
                            <span>Get a free quote</span>
                        </a>
                    </div>
                </div>
        <div class="container">
            <div class="row">
                <section class="col-12">
                    <div class="hero-banner banner">
                        <div class="hero-banner banner">
                            <div class="banner__background home-background" style="background-size: auto; background-position: center center;">
                            </div>
                            <div class="banner-text banner-text-owner" style="bottom:125px;">
                                <a href="/owner/transport" class="btn btn--primary btn--primary--fill home-quote-button">
                                    <span>Get a free quote</span>
                                </a>
                                <h1>The Largest Network of Pet Transporters in the World.</h1>
                                <!-- <h1>Next Level Pet Transport: The Largest Network of Pet Drivers in the World <br /> Post your Pet Transport</h1> -->
                            </div>

                        </div>
                    </div>

                </section>
                <!--<section class="col-lg-4">-->
                    <!--<a href="#" class="btn btn&#45;&#45;no-border btn-full btn&#45;&#45;secondary btn&#45;&#45;secondary&#45;&#45;fill">See how Pet Travel Hub Works <i class="fa fa-play-circle-o"></i></a>-->
                <!--</section>-->
            </div>

            <!--About section-->
            <div class="row landing-about">
                <div data-aos="fade-up" class="col-12 col-lg-12 landing-subtitle">
                    <h3>Book trusted pet drivers who'll treat your pets like family.</h3>
                    <h4>You don’t pay until the transport is complete.</h4>
                </div>

                <div class="col-12 col-sm-6">
                    <div data-aos="fade-right" class="about-text">
                        <h5>Preparation Guidelines</h5>
                        <p>
                            At Pet Travel Hub a dedicated team of multilingual, experienced and knowledgeable specialists help you. Full consultation on animal import and export regulations. Veterinary and travel document compliance review. Preparation and submission of all necessary documentation (i.e. pet animal import license).</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div data-aos="fade-left" class="about-img">
                        <img src="/img/Layer-1.png">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div data-aos="fade-right" class="about-img">
                        <img src="/img/Layer-2.png">
                    </div>
                </div>
                <div class="col-12 col-sm-6 about-text-right">
                    <div data-aos="fade-left" class="about-text">
                        <h5>Next Steps</h5>
                        <p>
                            Coordinate with driver, prepare a comfortable crate and plantransportation. Transport will be door to door ground transportation or flight coordination.
                            Consultation and planning of routing and transport options.
                            Sourcing of multilingual veterinarians.
                            Delivery to airport and airline check-in.
                            Collection from the airport, customs clearance and delivery to new home.
                            Boarding, kenneling and quarantine (if required) coordination.</p>
                    </div>
                </div>
            </div>
            <!--END - About section-->

        </div>
        <!--Find Driver section-->
    <div class="find-driver-landing" style="background-image: url('/img/Door-to-Door-Pet-Relocation.png')">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div data-aos="zoom-in-up" class="find-driver-content">
                        <h3>Door to Door Pet Transportation Anywhere in The World</h3>
                        <p>
                            There's nothing worse than getting your hopes up, then not being able to find your pet transport. That won't happen on Pet Travel Hub. From big cities to small towns, we have trusted pet drivers. Never pay until the transport is completed. Our team of specialists work with the best pet transporters in the world. PetTravel Hub is the most trusted pet transport platform in the world.
                        </p>
                        <a href="/owner/transport" class="btn btn--primary--fill">Post a new Pet Transport</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END - Find Driver section-->

    <!--Info Blocks section-->
    <div class="container landing-info-blocks-section">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div data-aos="fade-right" class="landing-info-block">
                    <img src="/img/calendar.png">
                    <h4>Set your own hours</h4>
                    <p>
                        You decide when and how often you drive.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div data-aos="fade-up" class="landing-info-block">
                    <img src="/img/car.png">
                    <h4>Get paid fast</h4>
                    <p>

                        Choose how and when you want to get paid.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div data-aos="fade-left" class="landing-info-block">
                    <img src="/img/support.png">
                    <h4>Get support at every turn</h4>
                    <p>

                        If there’s anything that you need, you can reach us anytime.
                    </p>
                </div>
            </div>
        </div>

        
    </div>
    <!--END - Info Blocks section-->


    <div class="container-gray" style="padding-bottom: 20px;">
        <div class="container">
            <div class="row landing-about">
                <div data-aos="fade-up" class="col-12 col-lg-12 landing-subtitle">
                    <h3 style="color: #047f03;">Book pet drivers you can trust. Pay after the transport is completed!</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <div data-aos="fade-right">
                        <ul class="section-bullets">
                            <li>All drivers need to pass a background check.</li>
                            <li>All drivers provide a detailed profile and personal information.</li>
                            <li>All drivers are approved by our team of pet transport specialists.</li>
                        </ul>
                        <a href="/owner/transport" class="btn btn--primary btn--primary--fill home-quote-button">
                            <span>Get a Free Quote from Drivers</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div data-aos="fade-right" class="about-img">
                        <img src="img/ferland.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container landing-info-other-section">
        <div class="row landing-about">
            <div data-aos="fade-up" class="col-12 col-lg-12 landing-subtitle">
                <h3>Your pet is treated like family.</h3>
                <h4>How it works</h4>
            </div>
            <div class="col-12 col-sm-4">
                <div data-aos="fade-right" class="landing-info-other">
                    <img src="/img/search-driver.png">
                    <h4>Post and Get a Free Quote</h4>
                    <p>
                        Read verified reviews and pick the perfect driver.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div data-aos="fade-up" class="landing-info-other">
                    <img src="/img/phone-driver.png">
                    <h4>Book & pay on Pet Travel Hub</h4>
                    <p>

                    Book and pay securely through the website by Secure Stripe Payments Portal
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div data-aos="fade-left" class="landing-info-block">
                    <img src="/img/love-driver.png">
                    <h4>Relax</h4>
                    <p>Get the Pet Travel Hub Guarantee, 24/7 support and booking protection.</p>
                </div>
            </div>
        </div>
    </div>


    <div v-if="view === 'post-offer'">
        <post-transport v-on:open-view="openView"
            v-bind:add-pet-endpoint="addPetEndpoint"
            :userPets="pets"
            :transportEndpoint="transportEndpoint"
        ></post-transport>
    </div>

    </div>
</div>