<div>
    <footer class="footer" style="background-image: url('/img/footer.jpg')">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <a href="/"><img src="/img/logo-white.png" alt=""></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-menu-title green">
                        MENU
                    </div>
                    <ul class="link-list link-list--footer">
                        <li><a href="/" class="link-list__item">Home</a></li>
                        <li><a href="/about-us" class="link-list__item">About Us</a></li>
                        <li><a href="/contact-us" class="link-list__item">Contact Us</a></li>
                        <li><a href="/faq" class="link-list__item">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="footer-menu-title green">
                        NEWSLETTER
                    </div>
                    <div class="newsletter-signup">
                        <div class="newsletter-input">
                        <input class="newsletter col-md-8 col-12" type="text" placeholder="Enter E-mail">
                        </div>
                        <div class="newsletter-button">
                            <a href="/" class="btn btn--primary btn--primary--transparent pull-right white">SUBMIT</a>
                        </div>
                    </div>
                    <hr>
                    <div class="social-media">
                      <span class="social-media__title white">
                          Follow Us on Social Media
                      </span>
                        <div class="social-media__icons">
                            <a href="https://www.instagram.com/pettravelhub/"><i class="fa fa-instagram white" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/Pet-Travel-Hub-107814334151527/?modal=admin_todo_tour"><i class="fa fa-facebook white" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/PetTravelHub2"><i class="fa fa-twitter white" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row privacy-area">

                <div class="col-md-7">
                    <div class="privacy green">
                        © Pet Travel Hub. All Rights Reserved.
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="privacy">
                        <a href="/" class="green">Privacy policy</a>
                        <a href="/" class="green">Disclaimer</a>
                        <a href="/" class="green">Copyright</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>